page-place-info {
  .mat-expansion-panel {
    box-shadow: none !important;
    .mat-expansion-panel-header {
      padding: 0;
      border-bottom: 1.2px solid #e8e8e8;
    }
    ul {
      padding: 0;
      li {
        list-style: none;
        margin-bottom: 5px;
        [name=checkmark] {
          color: map-get($colors, defaultApp);

        }
      }
    }


    .mat-expansion-panel-header{
      font-weight: bold;
    }

    .mat-expansion-indicator.ng-trigger.ng-trigger-indicatorRotate.ng-star-inserted{
      color: map-get($colors, defaultApp);
    }

  }

  .otherInformation {
    ion-icon {
      zoom: 1.5;
      color: map-get($colors, defaultApp);
    }

    .text-align-middle{

      display: flex!important;
      align-content: center!important;
      align-items: center!important;
    }

    .iconWhite {
      ion-icon {
        color: #fff !important;
        zoom: 1;

      }
    }
  }

  .iconWrapper {
    width: fit-content;
    border-radius: 2px;
    //background: map_get($colors, defaultApp);
    //background: #efcf06;
    background: #efb406f0;
    text-align: center;
    ion-icon {
      color: #fff;
    }
    color: #fff;
  }

  .button-height-30px{
    height: 30px;

  }
  .send-complaint {
    background: #dd434c;
    color: #000;

    ion-icon {
      color: #fff;
    }
  }



}

.xxx {
  box-sizing: border-box;
  border-bottom: 1px solid silver;

}

.actionSheetDeleteColor{
  color: #dd434c !important;
}

.deleteButtonFill{
  background: #dd434c;
  color: #fff !important;
}

