page-place-info {
  .mat-expansion-panel {
    box-shadow: none !important;
    .mat-expansion-panel-header {
      padding: 0;
      border-bottom: 1.2px solid #e8e8e8;
    }
    ul {
      padding: 0;
      li {
        list-style: none;
        margin-bottom: 5px;
        [name=checkmark] {
          color: map-get($colors, defaultApp);

        }
      }
    }

  }

  .otherInformation {
    ion-icon {
      zoom: 1.5;
      color: map-get($colors, defaultApp);
    }
  }

  .iconWrapper {
    border-radius: 2px;
    width: fit-content;
    background: map_get($colors, defaultApp);
    text-align: center;
    ion-icon{
      color: #fff;
    }
    color: #fff;
  }



}
