<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-slides>
    <ion-slide *ngFor="let image of place.images">
      <ion-img #img src="{{globalHost}}{{image}}" (click)="showPhoto(img.src)"></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row *ngIf="principal && (isAdmin || isBoss || principal.roles.indexOf('ADMIN') > -1)" text-center="">
      <ion-col>
        <button ion-button class="defaultBackground2" outline full
                (click)="presentActionSheet()">
          {{'placeInfo.manage'| translate}}
        </button>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col col>
        <span class="colorSilver">{{'placeInfo.reviews' | translate}}:</span>
        {{place.reviews}}
        <ion-icon name="eye"></ion-icon>
      </ion-col>


      <ion-col col-4 text-right>
        <span class="colorSilver">
        {{'placeInfo.rating'| translate}}:
        </span>
      </ion-col>
      <ion-col col-2 class="iconWrapper">
        <ion-icon name="star"></ion-icon>
        {{place.rating| number:'1.0-2'}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              {{"placeInfo.category" | translate}}
            </mat-expansion-panel-header>
            <ul>
              <li *ngFor="let topCategory of place?.topCategories">
                {{topCategory?.multilang[0]?.name}}
              </li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              {{'placeInfo.kitchens' | translate}}
            </mat-expansion-panel-header>
            <ul>
              <li *ngFor="let kitchen of place?.kitchens">
                {{kitchen?.multilang[0]?.name}}
              </li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              {{'placeInfo.descr' | translate}}
            </mat-expansion-panel-header>
            <p>{{place.multilang[0].description}}</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              {{'placeInfo.info' |translate}}
            </mat-expansion-panel-header>
            <ul>
              <li *ngIf="place.features.wifi">
                <ion-icon name="checkmark" padding-right="5px"></ion-icon>
                wifi
              </li>
              <li *ngIf="place.features.parking">
                <ion-icon name="checkmark" padding-right="5px"></ion-icon>
                {{'placeInfo.parking' | translate}}
              </li>
              <li *ngIf="place.features.karaoke">
                <ion-icon name="checkmark" padding-right="5px"></ion-icon>
                {{'placeInfo.karaoke'|translate}}
              </li>
              <li *ngIf="place.features.vipRoom">
                <ion-icon name="checkmark" padding-right="5px"></ion-icon>
                {{'placeInfo.vipRoom'|translate}}
              </li>
              <li *ngIf="place.features.businessLunch">
                <ion-icon name="checkmark" padding-right="5px"></ion-icon>
                {{'placeInfo.businessLunch'|translate}}
              </li>
              <li *ngIf="place.features.dayAndNight">
                <ion-icon name="checkmark" padding-right="5px"></ion-icon>
                {{'placeInfo.dayAndNight'|translate}}
              </li>
            </ul>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              {{'placeInfo.tags' | translate}}
            </mat-expansion-panel-header>
            <p>
              <strong *ngFor="let hashTag of place.hashTags" (click)="findPlacesByHashTag(hashTag)">
                #{{hashTag}},
              </strong>
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </ion-col>
    </ion-row>
    <div class="otherInformation">
      <ion-row>
        <ion-col col-1 offset-1 padding-bottom="12px" padding-top="12px">
          <ion-icon name="ios-cash-outline"></ion-icon>
        </ion-col>
        <ion-col col offset-1 class="silverUnderline" padding-bottom="12px" padding-top="12px">
          <span>{{'placeInfo.avgPrice' | translate}}</span>
          {{place.averagePrice}} {{'placeInfo.currency'|translate}}.
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1 offset-1 padding-bottom="12px" padding-top="12px">
          <ion-icon name="ios-call-outline"></ion-icon>
        </ion-col>
        <ion-col col offset-1 class="silverUnderline" padding-bottom="12px" padding-top="12px" (click)="callToPlace()">
          {{place.phone}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1 offset-1 padding-bottom="12px" padding-top="12px">
          <ion-icon name="ios-clock-outline"></ion-icon>
        </ion-col>
        <ion-col col offset-1 class="silverUnderline" padding-bottom="12px" padding-top="12px">
          {{place.days["1"].start}} -
          {{place.days["1"].end}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1 offset-1 padding-bottom="12px" padding-top="12px">
          <ion-icon name="ios-mail-outline"></ion-icon>
        </ion-col>
        <ion-col col offset-1 class="silverUnderline" padding-bottom="12px" padding-top="12px">
          {{place.email}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1 offset-1 padding-bottom="12px" padding-top="12px">
          <ion-icon name="globe"></ion-icon>
        </ion-col>
        <ion-col col offset-1 class="silverUnderline" padding-bottom="12px" padding-top="12px">
          {{place.site}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1 offset-1 padding-bottom="12px" padding-top="12px">
          <ion-icon name="ios-pin-outline"></ion-icon>
        </ion-col>
        <ion-col col offset-1 class="silverUnderline" padding-bottom="12px" padding-top="12px">
          {{place?.city?.multilang[0]?.name}} {{place.multilang[0].address.street}}
          {{place.multilang[0].address.number}}
        </ion-col>
      </ion-row>
      <ion-row margin-top="15px" (click)="connectToManager()">
        <ion-col col-8 class="text-align-middle fontBold">
          {{'placeInfo.contactToManager'|translate}}
        </ion-col>
        <ion-col col-3 offset-1>
          <ion-icon name="ios-open-outline"></ion-icon>
        </ion-col>
      </ion-row>


      <ion-row
        *ngIf="place.allowed"
        (click)="sendComplaint()"
        align-items-end="">
        <ion-col col-8 class="text-align-middle fontBold" icon-start class="colorDanger">
          <ion-icon name="ios-flag-outline" icon-end class="colorDanger"></ion-icon>
          {{'placeInfo.complaint' | translate}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button
            *ngIf="place.allowed"
            ion-button
            icon-start
            full
            strong
            class="defaultBackground iconWhite"
            (click)="toDrinkerPage()">
            <ion-icon name="ios-beer-outline"></ion-icon>
            {{'placeInfo.drinker' |translate}}
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>
