<ion-header>

  <ion-navbar>
    <ion-title>{{'singleEvent.title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngIf="event.image">
      <img src="{{globalHost+event.image}}" alt=""/>
    </ion-item>
    <ion-item *ngIf="event.pm">
      <strong>{{'updateEvent.place' | translate}}:</strong>
      <p>{{event.pm.name}}</p>
    </ion-item>
    <ion-item>
      <strong>{{'updateEvent.header' | translate}}:</strong>
      <p>{{event.multilang.header}}</p>
    </ion-item>
    <ion-item>
      <strong>{{'updateEvent.desc' | translate}}:</strong>
      <p>
        {{event.multilang.description}}
      </p>
    </ion-item>
    <ion-item>
      <strong>{{'updateEvent.start' | translate}}:</strong>
      <p>
        {{event.startDate | date:'dd/MM/yyyy'}}
      </p>
    </ion-item>
    <ion-item>
      <strong>{{'updateEvent.end' | translate}}:</strong>
      <p>
        {{event.endDate | date:'dd/MM/yyyy'}}
      </p>
    </ion-item>
  </ion-list>
</ion-content>
