<ion-header>

  <ion-navbar>
    <ion-title>{{'drinker.title'|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row margin-top="10px" *ngIf="principal">
    <button ion-button full [outline]="true" class="defaultBackground2" (click)="goToCreateDrinkerApplication(place)">
      {{'drinker.create'|translate}}
    </button>
  </ion-row>

  <drink-application
    *ngFor="let drinkApp of drinkApps"
    [drinkApp]="drinkApp"
    [showControlButtons]="(principal && (drinkApp.organizer._id === principal._id || principal.roles.indexOf('ADMIN') >= 0))"
    (onOpenDrinkApplication)="openDrinkApplication($event)"
    (onRemoveDrinkApplication)="removeDrinkApp($event)"
    (onUpdateDrinkApplication)="updateDrinkApp($event)"
  ></drink-application>

  <ion-infinite-scroll (ionInfinite)="loadNextApplicationsPage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
