<ion-card>
  <ion-card-content>

    <ion-item>
      <ion-icon item-start name="star">
      </ion-icon>
      {{rating?.value}}
    </ion-item>
    <ion-item>
      <p>
        {{'modalTestimonial.client' | translate}}: {{rating?.client.name}} {{rating?.client.surname}}
      </p>
      <p>
        {{'modalTestimonial.sum' | translate}}: {{rating?.price}}
      </p>
      <p>
        {{'modalTestimonial.message' | translate}}: {{rating?.comment}}
      </p>
      <p *ngIf="rating.place.multilang && rating.place.multilang.length > 0">
        {{'modalTestimonial.place' | translate}}: {{rating.place.multilang[0].name}}
      </p>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button *ngIf="showRemoveButton" full ion-button class="buttonDelete" [outline]="true"
                  (click)="removeRating(rating,$event)">
            {{'testimonials.remove' | translate}}
          </button>
        </ion-col>

        <ion-col col-6="">
          <button *ngIf="showUpdateButton" full [outline]="true" ion-button class="defaultBackground2"
                  (click)="updateRating(rating)">
            {{'testimonials.update' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
