<ion-header>
  <ion-navbar>
    <ion-title>{{'singleBonuse.title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf="bonuse.image">
      <img src="{{globalHost+bonuse.image}}" alt=""/>
    </ion-item>
    <ion-item *ngIf="bonuse.pm">
      <strong>{{'updateBonuse.place' | translate}}:</strong>
      <p>{{bonuse.pm.name}}</p>
    </ion-item>
    <ion-item>
      <strong>{{'updateBonuse.header' | translate}}:</strong>
      <p>{{bonuse.multilang.header}}</p>
    </ion-item>
    <ion-item>
      <strong>{{'updateBonuse.desc' | translate}}:</strong>
      <p>
        {{bonuse.multilang.description}}
      </p>
    </ion-item>
    <ion-item>
      <strong>{{'updateBonuse.conditions' | translate}}:</strong>
      <p>
        {{bonuse.multilang.conditions}}
      </p>
    </ion-item>
    <ion-item>
      <strong>{{'updateBonuse.start' | translate}}:</strong>
      <p>
        {{bonuse.startDate | date:'dd/MM/yyyy'}}
      </p>
    </ion-item>
    <ion-item>
      <strong>{{'updateBonuse.end' | translate}}:</strong>
      <p>
        {{bonuse.endDate | date:'dd/MM/yyyy'}}
      </p>
    </ion-item>
  </ion-list>
</ion-content>
