<ion-header>

  <ion-navbar>
    <ion-title>{{'updatePlace.title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="updatePlace(form)">
    <img [src]="avatarToShow" width="100%" height="200px">
    <button
      ion-button type="button"
      outline class="defaultBackground2" full
      (click)="changeAvatar($event)">{{'updatePlace.changeAvatar' | translate}}
    </button>
    <div style="overflow-x: scroll" *ngFor="let image of imagesToShow">
      <img [src]="image" width="100%" height="200px">
      <button
        ion-button outline
        type="button" class="buttonDeleteOutline" full
        (click)="removeImage(image,$event)">{{'updatePlace.removeImage' | translate}}
      </button>
    </div>
    <button
      ion-button type="button" outline class="defaultBackground2" full
      (click)="addImage($event)">{{'updatePlace.addImage' | translate}}
    </button>


    <div ngModelGroup="multilang">
      <ion-list>
        <ion-item>
          <ion-label [ngStyle]="{'color': (name.invalid && name.touched) ? 'red' : ''}">
            {{'updatePlace.placeName' | translate}}
          </ion-label>
          <ion-input
            name="name"
            [(ngModel)]="placeMultilang.name"
            #name="ngModel"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label [ngStyle]="{'color': (description.invalid && description.touched) ? 'red' : ''}">
            {{'updatePlace.description' | translate}}
          </ion-label>
          <ion-input
            name="description"
            [(ngModel)]="placeMultilang.description"
            #description="ngModel"
            required
          ></ion-input>
        </ion-item>
      </ion-list>
      <ion-list ngModelGroup="address">
        <ion-label>
          {{'updatePlace.city' | translate}}
        </ion-label>
        <ion-item>
          <ion-label [ngStyle]="{'color': (city.invalid && city.touched) ? 'red' : ''}">
            Місто
          </ion-label>
          <ion-select
            interface="popover"
            [(ngModel)]="placeMultilang.address.city"
            name="city"
            #city="ngModel"
            required
          >
            <ion-option value="">
              {{'updatePlace.choosePlace' | translate}}
            </ion-option>
            <ion-option value="{{'updatePlace.lviv' | translate}}">
              {{'updatePlace.lviv' | translate}}
            </ion-option>
            <ion-option value="{{'updatePlace.kyiv' | translate}}">
              {{'updatePlace.kyiv' | translate}}
            </ion-option>
            <ion-option value="{{'updatePlace.kharkiv' | translate}}">
              {{'updatePlace.kharkiv' | translate}}
            </ion-option>
            <ion-option value="{{'updatePlace.odesa' | translate}}">
              {{'updatePlace.odesa' | translate}}
            </ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label [ngStyle]="{'color': (street.invalid && street.touched) ? 'red' : ''}">
            {{'updatePlace.street' | translate}}
          </ion-label>
          <ion-input
            name="street"
            [(ngModel)]="placeMultilang.address.street"
            #street="ngModel"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label [ngStyle]="{'color': (number.invalid && number.touched) ? 'red' : ''}">
            {{'updatePlace.number' | translate}}
          </ion-label>
          <ion-input
            name="number"
            [(ngModel)]="placeMultilang.address.number"
            #number="ngModel"
            pattern="^[0-9]+[0-9]*$"
            required
          ></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="isAdmin">
      <ion-item>
        <ion-label>
          {{'updatePlace.topcategories' | translate}}
        </ion-label>
        <ion-input name="topCategories" [(ngModel)]="topCategories"></ion-input>
      </ion-item>
    </div>

    <div ngModelGroup="place">
      <ion-item *ngIf="isAdmin">
        <ion-label>
          {{'updatePlace.allowed' | translate}}
        </ion-label>
        <ion-select name="allowed" [(ngModel)]="place.allowed">
          <ion-option value="true">{{'updatePlace.yes' | translate}}</ion-option>
          <ion-option value="false">{{'updatePlace.no' | translate}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>
          {{'updatePlace.tags' | translate}}
        </ion-label>
        <ion-input name="hashTags" [(ngModel)]="hashTags"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [ngStyle]="{'color': (phone.invalid && phone.touched) ? 'red' : ''}">
          {{'updatePlace.phone' | translate}}
        </ion-label>
        <ion-input
          type="tel"
          name="phone"
          [(ngModel)]="place.phone"
          #phone="ngModel"
          pattern="^[0-9]+[0-9]*$"
          minlength="6"
          maxlength="15"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [ngStyle]="{'color': (email.invalid && email.touched) ? 'red' : ''}">
          {{'updatePlace.email' | translate}}
        </ion-label>
        <ion-input
          name="email"
          [(ngModel)]="place.email"
          #email="ngModel"
          email
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          site
        </ion-label>
        <ion-input
          type="url"
          name="site"
          [(ngModel)]="place.site"
        ></ion-input>
      </ion-item>

      <div ngModelGroup="location">
        <button margin-top="20px" ion-button outline full class="defaultBackground2" type="button"
                (click)="goToChooseLocation()">
          {{'updatePlace.location' | translate}}
        </button>
        <ion-item>
          <ion-input name="lat" [(ngModel)]="place.location.lat" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="lng" [(ngModel)]="place.location.lng" disabled></ion-input>
        </ion-item>
      </div>
      <ion-list ngModelGroup="features">
        <ion-list-header>{{'updatePlace.features' | translate}}</ion-list-header>
        <ion-item>
          <ion-label>
            {{'updatePlace.wifi' | translate}}
          </ion-label>
          <ion-checkbox name="wifi" [(ngModel)]="place.features.wifi"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>
            {{'updatePlace.karaoke' | translate}}
          </ion-label>
          <ion-checkbox name="karaoke" [(ngModel)]="place.features.karaoke"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>
            {{'updatePlace.parking' | translate}}
          </ion-label>
          <ion-checkbox name="parking" [(ngModel)]="place.features.parking"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>
            {{'updatePlace.vipRoom' | translate}}
          </ion-label>
          <ion-checkbox name="vipRoom" [(ngModel)]="place.features.vipRoom"></ion-checkbox>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label [ngStyle]="{'color': (types.invalid && types.touched) ? 'red' : ''}">
          {{'updatePlace.placeTypes' | translate}}
        </ion-label>
        <ion-select
          name="types"
          [(ngModel)]="place.types"
          okText="Okay"
          cancelText="Dismiss"
          multiple="true"
          #types="ngModel"
          required
        >
          <ng-container *ngFor="let placeTypeM of placeTypesM">
            <ion-option [value]="placeTypeM.placeType.toString()" *ngIf="placeTypeM.placeType">
              {{placeTypeM.name}}
            </ion-option>
          </ng-container>
        </ion-select>
      </ion-item>
      <ion-item-group ngModelGroup="days">
        <ion-item-group ngModelGroup="1">
          <ion-item>
            <ion-label [ngStyle]="{'color': (start.invalid && start.touched) ? 'red' : ''}">
              {{'updatePlace.from' | translate}}
            </ion-label>
            <ion-datetime
              displayFormat="HH"
              name="start"
              [(ngModel)]="place.days['1'].start"
              #start="ngModel"
              required
            ></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label [ngStyle]="{'color': (end.invalid && end.touched) ? 'red' : ''}">
              {{'updatePlace.to' | translate}}
            </ion-label>
            <ion-datetime
              displayFormat="HH"
              name="end"
              [(ngModel)]="place.days['1'].end"
              #end="ngModel"
              required
            ></ion-datetime>
          </ion-item>
        </ion-item-group>
      </ion-item-group>
    </div>
    <button
      type="submit"
      full
      outline
      class="defaultBackground2"
      ion-button
      [disabled]="!form.valid"
    >{{'updatePlace.save' | translate}}
    </button>
  </form>
</ion-content>
