<ion-header>

  <ion-navbar>
    <ion-title>{{'updatePlace.title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="updatePlace(form)">
    <img [src]="avatarToShow" width="100%" height="200px" *ngIf="place.avatar">
    <ion-grid>
      <ion-row>
        <ion-col col-8 offset-2>
          <button
            ion-button type="button"
            outline class="defaultBackground2" full
            (click)="changeAvatar($event)">{{'updatePlace.changeAvatar' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="overflow-x: scroll" *ngFor="let image of imagesToShow">
      <img [src]="image" width="100%" height="200px">
      <ion-grid>
        <ion-row>
          <ion-col col-8 offset-2>
            <button
              ion-button outline
              type="button" class="buttonDeleteOutline" full
              (click)="removeImage(image,$event)">{{'updatePlace.removeImage' | translate}}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col col-8 offset-2>
          <button
            ion-button type="button" outline class="defaultBackground2" full
            (click)="addImage($event)">{{'updatePlace.addImage' | translate}}
          </button>

        </ion-col>
      </ion-row>
    </ion-grid>


    <div ngModelGroup="multilang">
      <ion-list>
        <ion-item>
          <ion-label [ngStyle]="{'color': (name.invalid && name.touched) ? 'red' : ''}">
            {{'updatePlace.placeName' | translate}}
          </ion-label>
          <ion-input
            name="name"
            [(ngModel)]="placeMultilang.name"
            #name="ngModel"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            {{'updatePlace.description' | translate}}
          </ion-label>
          <ion-input
            name="description"
            [(ngModel)]="placeMultilang.description"
            #description="ngModel"
          ></ion-input>
        </ion-item>
      </ion-list>
      <ion-list ngModelGroup="address">
        <ion-item>
          <ion-label [ngStyle]="{'color': (street.invalid && street.touched) ? 'red' : ''}">
            {{'updatePlace.street' | translate}}
          </ion-label>
          <ion-input
            name="street"
            [(ngModel)]="placeMultilang.address.street"
            #street="ngModel"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <!--<ion-label [ngStyle]="{'color': (number.invalid && number.touched) ? 'red' : ''}">-->
          <ion-label>
            {{'updatePlace.number' | translate}}
          </ion-label>
          <ion-input
            name="number"
            [(ngModel)]="placeMultilang.address.number"
            #number="ngModel"
          ></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <div ngModelGroup="place">
      <ion-item *ngIf="isAdmin">
        <ion-label>
          {{'updatePlace.allowed' | translate}}
        </ion-label>
        <ion-select name="allowed" [(ngModel)]="place.allowed">
          <ion-option value="true">{{'updatePlace.yes' | translate}}</ion-option>
          <ion-option value="false">{{'updatePlace.no' | translate}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>
          {{'updatePlace.tags' | translate}}
        </ion-label>
        <ion-input name="hashTags" [(ngModel)]="hashTags" placeholder="bear,music"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [ngStyle]="{'color': (phone.invalid && phone.touched) ? 'red' : ''}">
          {{'updatePlace.phone' | translate}}
        </ion-label>
        <ion-input
          type="tel"
          name="phone"
          [(ngModel)]="place.phone"
          #phone="ngModel"
          minlength="6"
          maxlength="15"
          placeholder="0671234567"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [ngStyle]="{'color': (email.invalid && email.touched) ? 'red' : ''}">
          {{'updatePlace.email' | translate}}
        </ion-label>
        <ion-input
          name="email"
          [(ngModel)]="place.email"
          #email="ngModel"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          {{'createPlace.site' | translate}}
        </ion-label>
        <ion-input
          type="url"
          name="site"
          [(ngModel)]="place.site"
        ></ion-input>
      </ion-item>

      <div ngModelGroup="location">

        <ion-grid>
          <ion-row>
            <ion-col col-8 offset-2>
              <button margin-top="20px" ion-button outline full class="defaultBackground2" type="button"
                      (click)="goToChooseLocation()">
                {{'updatePlace.location' | translate}}
              </button>

            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!--<ion-list ngModelGroup="features">-->
      <!--<ion-list-header>{{'updatePlace.features' | translate}}</ion-list-header>-->
      <!--<ion-item>-->
      <!--<ion-label>-->
      <!--{{'updatePlace.wifi' | translate}}-->
      <!--</ion-label>-->
      <!--<ion-checkbox name="wifi" [(ngModel)]="place.features.wifi"></ion-checkbox>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
      <!--<ion-label>-->
      <!--{{'updatePlace.karaoke' | translate}}-->
      <!--</ion-label>-->
      <!--<ion-checkbox name="karaoke" [(ngModel)]="place.features.karaoke"></ion-checkbox>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
      <!--<ion-label>-->
      <!--{{'updatePlace.parking' | translate}}-->
      <!--</ion-label>-->
      <!--<ion-checkbox name="parking" [(ngModel)]="place.features.parking"></ion-checkbox>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
      <!--<ion-label>-->
      <!--{{'updatePlace.vipRoom' | translate}}-->
      <!--</ion-label>-->
      <!--<ion-checkbox name="vipRoom" [(ngModel)]="place.features.vipRoom"></ion-checkbox>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
      <!--<ion-label>-->
      <!--{{'updatePlace.businessLunch' | translate}}-->
      <!--</ion-label>-->
      <!--<ion-checkbox name="businessLunch" [(ngModel)]="place.features.businessLunch"></ion-checkbox>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
      <!--<ion-label>-->
      <!--{{'updatePlace.dayAndNight' | translate}}-->
      <!--</ion-label>-->
      <!--<ion-checkbox name="dayAndNight" [(ngModel)]="place.features.dayAndNight"></ion-checkbox>-->
      <!--</ion-item>-->
      <!--</ion-list>-->
      <ion-item>
        <ion-label [ngStyle]="{'color': (types.invalid && types.touched) ? 'red' : ''}">
          {{'updatePlace.placeTypes' | translate}}
        </ion-label>
        <ion-select
          name="types"
          [(ngModel)]="place.types"
          okText="Okay"
          cancelText="Dismiss"
          multiple="true"
          #types="ngModel"
          required
        >
          <ng-container *ngFor="let placeTypeM of placeTypesM">
            <ion-option [value]="placeTypeM.placeType.toString()" *ngIf="placeTypeM.placeType">
              {{placeTypeM.name}}
            </ion-option>
          </ng-container>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label [ngStyle]="{'color': (city.invalid && city.touched) ? 'red' : ''}">
          {{'updatePlace.city' | translate}}
        </ion-label>
        <ion-select
          name="city"
          [(ngModel)]="place.city"
          okText="Okay"
          cancelText="Dismiss"
          #city="ngModel"
          required
        >
          <ng-container *ngFor="let cityM of citiesM">
            <ion-option [value]="cityM.city.toString()" *ngIf="cityM.city">
              {{cityM.name}}
            </ion-option>
          </ng-container>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label [ngStyle]="{'color': (kitchens.invalid && kitchens.touched) ? 'red' : ''}">
          {{'updatePlace.kitchens' | translate}}
        </ion-label>
        <ion-select
          name="kitchens"
          [(ngModel)]="place.kitchens"
          okText="Okay"
          cancelText="Dismiss"
          multiple="true"
          #kitchens="ngModel"
        >
          <ng-container *ngFor="let kitchenM of kitchensM">
            <ion-option [value]="kitchenM.kitchen.toString()" *ngIf="kitchenM.kitchen">
              {{kitchenM.name}}
            </ion-option>
          </ng-container>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label [ngStyle]="{'color': (topCategories.invalid && topCategories.touched) ? 'red' : ''}">
          {{'updatePlace.topCategories' | translate}}
        </ion-label>
        <ion-select
          name="topCategories"
          [(ngModel)]="place.topCategories"
          okText="Okay"
          cancelText="Dismiss"
          multiple="true"
          #topCategories="ngModel"
        >
          <ng-container *ngFor="let tapCategoryM of topCategoriesM">
            <ion-option [value]="tapCategoryM.topCategory.toString()" *ngIf="tapCategoryM.topCategory">
              {{tapCategoryM.name}}
            </ion-option>
          </ng-container>
        </ion-select>
      </ion-item>

      <ion-item-group ngModelGroup="days">
        <mat-accordion>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <ion-icon
                name="close"
                large
                left
                class="colorDanger clearDateButton"
                (click)="clearTimes(start1,end1,$event)"
              ></ion-icon>
              <span text-uppercase>{{'days.monday' | translate}}</span>
            </mat-expansion-panel-header>
            <ion-item-group ngModelGroup="1">
              <ion-item>
                <ion-label>
                  {{'createPlace.from' | translate}}
                </ion-label>
                <ion-datetime
                  displayFormat="HH:mm"
                  name="start"
                  [(ngModel)]="place.days['1'].start"
                  #start1="ngModel"
                  minuteValues="00,10,20,30,40,50"
                ></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>
                  {{'createPlace.to' | translate}}
                </ion-label>
                <ion-datetime
                  displayFormat="HH:mm"
                  name="end"
                  [(ngModel)]="place.days['1'].end"
                  #end1="ngModel"
                  minuteValues="00,10,20,30,40,50"
                ></ion-datetime>
              </ion-item>
            </ion-item-group>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <ion-icon
                name="close"
                large
                left
                class="colorDanger
              clearDateButton"
                (click)="clearTimes(start2,end2,$event)"
              ></ion-icon>
              <span text-uppercase>{{'days.tuesday' | translate}}</span>
            </mat-expansion-panel-header>
            <ion-item-group ngModelGroup="2">
              <ion-item>
                <ion-label>
                  {{'createPlace.from' | translate}}
                </ion-label>
                <ion-datetime
                  displayFormat="HH:mm"
                  name="start"
                  [(ngModel)]="place.days['2'].start"
                  minuteValues="00,10,20,30,40,50"
                  #start2="ngModel"
                ></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>
                  {{'createPlace.to' | translate}}
                </ion-label>
                <ion-datetime
                  displayFormat="HH:mm"
                  name="end"
                  [(ngModel)]="place.days['2'].end"
                  minuteValues="00,10,20,30,40,50"
                  #end2="ngModel"
                ></ion-datetime>
              </ion-item>
            </ion-item-group>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <ion-icon
                name="close"
                large
                left
                class="colorDanger clearDateButton"
                (click)="clearTimes(start3,end3,$event)"
              ></ion-icon>
              <span text-uppercase>{{'days.wednesday' | translate}}</span>
            </mat-expansion-panel-header>
            <ion-item-group ngModelGroup="3">
              <ion-item>
                <ion-label>
                  {{'createPlace.from' | translate}}
                </ion-label>
                <ion-datetime
                  displayFormat="HH:mm"
                  name="start"
                  [(ngModel)]="place.days['3'].start"
                  #start3="ngModel"
                  minuteValues="00,10,20,30,40,50"
                ></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>
                  {{'createPlace.to' | translate}}
                </ion-label>
                <ion-datetime
                  displayFormat="HH:mm"
                  name="end"
                  [(ngModel)]="place.days['3'].end"
                  #end3="ngModel"
                  minuteValues="00,10,20,30,40,50"
                ></ion-datetime>
              </ion-item>
            </ion-item-group>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <ion-icon
                name="close"
                large
                left
                class="colorDanger clearDateButton"
                (click)="clearTimes(start4,end4,$event)"
              ></ion-icon>
              <span text-uppercase>{{'days.thursday' | translate}}</span>
            </mat-expansion-panel-header>
            <ion-item-group ngModelGroup="4">
              <ion-item>
                <ion-label>
                  {{'createPlace.from' | translate}}
                </ion-label>
                <ion-datetime
                  displayFormat="HH:mm"
                  name="start"
                  [(ngModel)]="place.days['4'].start"
                  #start4="ngModel"
                  minuteValues="00,10,20,30,40,50"
                ></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>
                  {{'createPlace.to' | translate}}
                </ion-label>
                <ion-datetime
                  displayFormat="HH:mm"
                  name="end"
                  [(ngModel)]="place.days['4'].end"
                  #end4="ngModel"
                  minuteValues="00,10,20,30,40,50"
                ></ion-datetime>
              </ion-item>
            </ion-item-group>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <ion-icon
                name="close"
                large
                left
                class="colorDanger clearDateButton"
                (click)="clearTimes(start5,end5,$event)"
              ></ion-icon>
              <span text-uppercase>{{'days.friday' | translate}}</span>
            </mat-expansion-panel-header>
            <ion-item-group ngModelGroup="5">
              <ion-item>
                <ion-label>
                  {{'createPlace.from' | translate}}
                </ion-label>
                <ion-datetime
                  displayFormat="HH:mm"
                  name="start"
                  [(ngModel)]="place.days['5'].start"
                  #start5="ngModel"
                  minuteValues="00,10,20,30,40,50"
                ></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>
                  {{'createPlace.to' | translate}}
                </ion-label>
                <ion-datetime
                  displayFormat="HH:mm"
                  name="end"
                  [(ngModel)]="place.days['5'].end"
                  #end5="ngModel"
                  minuteValues="00,10,20,30,40,50"
                ></ion-datetime>
              </ion-item>
            </ion-item-group>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <ion-icon
                name="close"
                large
                left
                class="colorDanger clearDateButton"
                (click)="clearTimes(start6,end6,$event)"
              ></ion-icon>
              <span text-uppercase>{{'days.saturday' | translate}}</span>
            </mat-expansion-panel-header>
            <ion-item-group ngModelGroup="6">
              <ion-item>
                <ion-label>
                  {{'createPlace.from' | translate}}
                </ion-label>
                <ion-datetime
                  displayFormat="HH:mm"
                  name="start"
                  [(ngModel)]="place.days['6'].start"
                  #start6="ngModel"
                  minuteValues="00,10,20,30,40,50"
                ></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>
                  {{'createPlace.to' | translate}}
                </ion-label>
                <ion-datetime
                  displayFormat="HH:mm"
                  name="end"
                  [(ngModel)]="place.days['6'].end"
                  #end6="ngModel"
                  minuteValues="00,10,20,30,40,50"
                ></ion-datetime>
              </ion-item>
            </ion-item-group>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <ion-icon
                name="close"
                large
                left
                class="colorDanger clearDateButton"
                (click)="clearTimes(start7,end7,$event)"
              ></ion-icon>
              <span text-uppercase>{{'days.sunday' | translate}}</span>
            </mat-expansion-panel-header>
            <ion-item-group ngModelGroup="7">
              <ion-item>
                <ion-label>
                  {{'createPlace.from' | translate}}
                </ion-label>
                <ion-datetime
                  displayFormat="HH:mm"
                  name="start"
                  [(ngModel)]="place.days['7'].start"
                  #start7="ngModel"
                  minuteValues="00,10,20,30,40,50"
                ></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>
                  {{'createPlace.to' | translate}}
                </ion-label>
                <ion-datetime
                  displayFormat="HH:mm"
                  name="end"
                  [(ngModel)]="place.days['7'].end"
                  #end7="ngModel"
                  minuteValues="00,10,20,30,40,50"
                ></ion-datetime>
              </ion-item>
            </ion-item-group>
          </mat-expansion-panel>

        </mat-accordion>
      </ion-item-group>


    </div>

    <ion-grid>
      <ion-row>
        <ion-col col-8 offset-2>
          <button
            type="submit"
            full
            outline
            class="defaultBackground2"
            ion-button
            [disabled]="!form.valid"
          >{{'updatePlace.save' | translate}}
          </button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
