page-update-place {

  .clearDateButton {
    margin-right: 30px;
    font-weight: bold;
  }

  ion-item.item.item-block.item-input {

    //border-bottom-color: map_get($colors, defaultApp) !important;
    -webkit-box-shadow: inset 0 -1px 0 0 transparent !important;
    box-shadow: inset 0 -1px 0 0 transparent !important;

    .item-inner {
      border-bottom-color: map_get($colors, defaultApp) !important;
      //-webkit-box-shadow: inset 0 -1px 0 0 map_get($colors, defaultApp) !important;
      //box-shadow: inset 0 -1px 0 0 map_get($colors, defaultApp) !important;
    }
  }

  div[ngModelGroup=multilang] {

    .list-md .item-input:last-child {
      border-bottom: none;
    }

    .item-block .item-inner {
      padding-right: 8px;
      border-bottom: 1px solid transparent !important;
    }
  }

  div[ngModelGroup=location] {
    .item-block .item-inner {
      padding-right: 8px;
      border-bottom: none;
    }
  }
  div[ngModelGroup=place] {

  }

  ion-input[name=number] {
    border-bottom-color: map_get($colors, defaultApp) !important;
    -webkit-box-shadow: inset 0 -1px 0 0 transparent !important;
    box-shadow: inset 0 -1px 0 0 transparent !important;
  }

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: none;
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .email-expansion-panel .mat-expansion-panel-body{
    padding: 0 0;
  }
  .email-expansion-panel .mat-expansion-panel-body .add-email-phone-button{
    padding: 0 0;
    background: rgba(42, 255, 0, 0.15);
  }
  .email-expansion-panel *{
    background: none;
  }
  [name='add-circle-outline']{
    font-weight: bold;
    font-size: 30px;
    color: #1da800;
  }




}
