<ion-header>

  <ion-navbar>
    <ion-title>{{'singleNews.title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngIf="singleNews.image">
      <img src="{{globalHost+singleNews.image}}" alt=""/>
    </ion-item>
    <ion-item *ngIf="singleNews.pm">
      <strong>{{'updateNews.place' | translate}}:</strong>
      <p>{{singleNews.pm.name}}</p>
    </ion-item>
    <ion-item>
      <strong>{{'updateNews.header' | translate}}:</strong>
      <p>{{singleNews.multilang.header}}</p>
    </ion-item>
    <ion-item>
      <strong>{{'updateNews.desc' | translate}}:</strong>
      <p>
        {{singleNews.multilang.description}}
      </p>
    </ion-item>
    <ion-item>
      <strong>{{'updateNews.start' | translate}}:</strong>
      <p>
        {{singleNews.startDate | date:'dd/MM/yyyy'}}
      </p>
    </ion-item>
    <ion-item>
      <strong>{{'updateNews.end' | translate}}:</strong>
      <p>
        {{singleNews.endDate | date:'dd/MM/yyyy'}}
      </p>
    </ion-item>
  </ion-list>
</ion-content>
