<ion-header>

  <ion-navbar>
    <ion-title>all-bonuses</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <span *ngFor="let bonuse of bonuses">
    <ion-card *ngIf="bonuse.kind=='Bonuse'">

    <img src="{{globalHost+bonuse.image}}" alt=""/>
    <ion-card-content>
      <ion-card-title>
        {{bonuse.place.multilang[0].name}}<br>
        {{bonuse.multilang[0].header}}
      </ion-card-title>
      <p>
        {{bonuse.multilang[0].description}}
      </p>
      <p>
        {{bonuse.multilang[0].conditions}}
      </p>
      <p>
        {{bonuse.startDate | date}}
      </p>
      <p>
        {{bonuse.endDate | date}}
      </p>
    </ion-card-content>
      <button ion-button round outline color="danger" (click)="removePromo(bonuse)">Delete</button>
      <button ion-button round outline (click)="updatePromo(bonuse)">Update</button>
  </ion-card>
  </span>
  <ion-infinite-scroll (ionInfinite)="loadNextBonusesPage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
