<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="principal">
    <ion-fab>
      <button ion-fab (click)="leaveTestimonial()">Button</button>
    </ion-fab>
  </div>

  <rating
    *ngFor="let rating of ratings"
    [rating]="rating"
    [showRemoveButton]="principal && (principal._id === rating.client._id || principal.roles.indexOf('ADMIN') >= 0)"
    [showUpdateButton]="principal && (principal._id === rating.client._id || principal.roles.indexOf('ADMIN') >= 0)"
    (onRemoveRating)="removeRating($event)"
    (onUpdateRating)="updateRating($event)"
  ></rating>

  <ion-infinite-scroll (ionInfinite)="loadNextRatingsPage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
