<ion-header>

  <ion-navbar>
    <ion-title>event</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div margin-top="10px" *ngIf="principal && (departments?.length > 0 || principal?.roles.indexOf('ADMIN') >= 0)">
    <button ion-button full class="defaultBackground2"  (click)="goToCreateEvent()">Create Event</button>
  </div>

  <event
    *ngFor="let promo of events"
    [event]="promo"
    [globalHost]="globalHost"
    [showControlButtons]="(principal && principal?._id === promo.author) || (principal && principal.roles.indexOf('ADMIN') >= 0)"
    (onRemovePromo)="removePromo($event)"
    (onUpdatePromo)="updatePromo($event)"
    (click)="goToSingleEvent(promo)"
  ></event>

  <ion-infinite-scroll (ionInfinite)="loadNextEventsPage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
