<ion-header>

  <ion-navbar>
    <ion-title>{{'allEvents.title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="principal && (departments?.length > 0 || principal?.roles.indexOf('ADMIN') >= 0)">
    <button outline ion-button full class="defaultBackground2" (click)="goToCreateEvent()">
      {{'allEvents.create' | translate}}
    </button>
  </div>

  <div *ngIf="events && events.length > 0">
    <event
      *ngFor="let promo of events"
      [event]="promo"
      [globalHost]="globalHost"
      [showControlButtons]="(principal && principal.departments.indexOf(place._id) > -1) || (principal && principal.roles.indexOf('ADMIN') >= 0)"
      (onRemovePromo)="removePromo($event)"
      (onUpdatePromo)="updatePromo($event)"
      (click)="goToSingleEvent(promo)"
    ></event>
  </div>
  <div *ngIf="events && events.length <= 0">
    <empty>
    </empty>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadNextEventsPage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
