<ion-card (click)="openDrinkApplication(drinkApp)">
  <ion-card-content>
    <p>
      <span class="fontBold">{{'drinker.where'|translate}}</span> - {{pm.name}}
    </p>
    <p>
      <span class="fontBold">{{'drinker.when'|translate}}</span> - {{drinkApp.date | date:'dd/MM/yyyy HH:mm':'UTC/GMT'}}
    </p>
    <p>
      <span class="fontBold">{{'drinker.budget'|translate}}</span> - {{drinkApp.budged}} {{'drinker.currency'|translate}}
    </p>
    <p>
      <span class="fontBold">{{'drinker.goal'|translate}}</span> - {{drinkApp.goal}}
    </p>

  </ion-card-content>
  <ion-buttons *ngIf="showControlButtons">
    <ion-grid>

      <ion-row>
        <ion-col col-6>
          <button
            ion-button
            full
            class="buttonUpdate"
            outline
            (click)="updateDrinkApp(drinkApp, $event)"
          > {{'drinker.update' | translate}}
          </button>
        </ion-col>
        <ion-col col-6>
          <button
            ion-button
            full
            outline
            class="buttonDelete"
            (click)="removeDrinkApp(drinkApp, $event)"
          > {{'drinker.remove' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-buttons>

</ion-card>
