<ion-header>

  <ion-navbar>
    <ion-title>{{'hashTags.header' | translate}}</ion-title>
  </ion-navbar>

  <ion-searchbar #searchbar (ionInput)="onSearchPlaces($event)" [(ngModel)]="searchHashTag">
  </ion-searchbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list [virtualScroll]="places" [approxItemHeight]="'132px'">
    <ion-item *virtualItem="let place" (click)="toDetails(place._id)">
      <ion-thumbnail item-start>
        <img *ngIf="place.avatar" [src]="globalHost+place?.avatar">
        <img *ngIf="!place.avatar" src='assets/imgs/empty-place.svg'>
      </ion-thumbnail>
      <h2>{{place?.multilang[0]?.name}}</h2>
      <span> <ion-icon name="star"></ion-icon> {{place?.rating| number:'1.0-2'}} </span>
      <ion-icon item-end name="ios-arrow-dropright"></ion-icon>
      <p><span *ngFor="let placeType of place?.types">{{placeType?.name}} </span></p>
      <p>{{place?.multilang[0]?.address.city}} {{place?.multilang[0]?.address.street}}
        {{place?.multilang[0]?.address.number}}</p>
      <p>{{place?.distance | number : '3.1-2'}} км</p>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadNextPlacesPage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
