page-home {
  ion-icon {
    color: map_get($colors, defaultApp);
  }

  .toolbar-background {
    background: #fff !important;
  }

  .tabs .tab-button[aria-selected=true] .tab-button-icon, .tabs .tab-button[aria-selected=true] {
    color: map-get($colors, defaultApp);
    background: white;
  }

  ion-navbar {
    img {
      width: 80px;
    }
  }

  .pulse {
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      background: rgba(204,169,44, 0.4);
    }
    50% {
      background: rgba(204,169,44, 0);
    }
    100% {
      background: rgba(204,169,44, 0);
    }
  }

}

