page-sign-up {
  button {
    text-transform: none !important;
  }

  .backgroundGold {
    background: #efb406f0;
  }

  .errorColor {
    color: map_get($colors, danger);
  }


  .item-inner {
    border-bottom-color: map_get($colors, defaultApp2) !important;
    -webkit-box-shadow: inset 0 -1px 0 0 map_get($colors, defaultApp2) !important;
    box-shadow: inset 0 -1px 0 0 map_get($colors, defaultApp2) !important;
  }

}
