<ion-card>
  <img src="{{globalHost+event.image}}" alt=""/>
  <ion-card-content>
    <ion-card-title>
      {{event.multilang.header}}
    </ion-card-title>
    <p>
      <span class="fontBold">{{'updateEvent.desc' | translate}}</span> : {{event.multilang.description}}
    </p>
    <p>
      <span class="fontBold">{{'updateEvent.start'| translate}}</span> : {{event.startDate | date: 'dd/MM/yyyy'}}
    </p>
    <p>
      <span class="fontBold">{{'updateEvent.end'| translate}}</span> : {{event.endDate | date: 'dd/MM/yyyy'}}
    </p>
    <p *ngIf="pm">
      <span class="fontBold">{{'updateEvent.place'| translate}}</span> : {{pm.name}}
    </p>
  </ion-card-content>
  <ion-buttons *ngIf="showControlButtons">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button
            ion-button
            outline
            full
            class="defaultBackground2"
            (click)="updatePromo(event,$event)">
           {{'updateEvent.update'| translate}}
          </button>
        </ion-col>
        <ion-col col-6><button
          ion-button
          full
          [outline]="true"
          class="buttonDelete"
          (click)="removePromo(event,$event)">
        {{'updateEvent.remove'| translate}}
        </button></ion-col>
      </ion-row>
    </ion-grid>

  </ion-buttons>
</ion-card>
<hr>
