<ion-card>
  <img src="{{globalHost+event.image}}" alt=""/>
  <ion-card-content>
    <ion-card-title>
      {{event.place.multilang[0].name}}<br>
      {{event.multilang[0].header}}
    </ion-card-title>
    <p>
      {{event.multilang[0].description}}
    </p>
    <p>
      {{event.startDate | date}}
    </p>
    <p>
      {{event.endDate | date}}
    </p>
  </ion-card-content>
  <ion-buttons *ngIf="showControlButtons">
    <button
      ion-button
      outline
      class="defaultBackground2"
      (click)="updatePromo(event,$event)">
      Update
    </button>

    <button
      ion-button
      class="buttonDelete"
      (click)="removePromo(event,$event)">
      Delete
    </button>

  </ion-buttons>
</ion-card>
