<ion-card>
  <img src="{{globalHost+event.image}}" alt=""/>
  <ion-card-content>
    <ion-card-title>
      {{event.multilang.header}}
    </ion-card-title>
    <p>
      {{event.multilang.description}}
    </p>
    <p>
      {{event.startDate | date}}
    </p>
    <p>
      {{event.endDate | date}}
    </p>
    <p *ngIf="pm">
      {{pm.name}}
    </p>
  </ion-card-content>
  <ion-buttons *ngIf="showControlButtons">
    <button
      ion-button
      class="defaultBackground2"
      (click)="updatePromo(event,$event)">
      Update
    </button>

    <button
      ion-button
      class="buttonDelete"
      (click)="removePromo(event,$event)">
      Delete
    </button>

  </ion-buttons>
</ion-card>
