// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../pages/map/map";
@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-family-base: 'Roboto';
$font-family-ios-base: 'Roboto'';
$font-family-md-base: ' Roboto ';
$font-family-wp-base: ' Roboto '';
.silverUnderline {
  border-bottom: 1.2px solid #e8e8e8;
}

.paddingTop15 {
  padding-top: 15px;
}

.paddingBottom15 {
  padding-bottom: 15px;
}

.colorSilver {
  color: #bababa;
}

.list-ios > .item-block:first-child {
  border-top: none;
}

.defaultBackground {
  background: map-get($colors, defaultApp);
}

.fontBold{
  font-weight: bold !important;
}


