<ion-menu [content]="content" side="left" id="leftSideMenu" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{'sideMenu.titleLeft'|translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>{{'switchLang' | translate}}</ion-label>
        <ion-toggle [(ngModel)]='languageSwitcher' (ionChange)="switchLang()"></ion-toggle>
      </ion-item>
      <!--<ion-item>-->
      <!--<ion-label> {{'sideMenu.filters.city' | translate}}</ion-label>-->
      <!--<ion-select interface="action-sheet" [(ngModel)]="currentCity" (ionChange)="changeGlobalCity()">-->
      <!--<ion-option value="">-->
      <!--None-->
      <!--</ion-option>-->
      <!--<ion-option [value]="cityM.city._id" *ngFor="let cityM of citiesM">-->
      <!--{{cityM.name}}-->
      <!--</ion-option>-->
      <!--</ion-select>-->
      <!--</ion-item>-->
      <button
        ion-item
        *ngIf="principal && principal.roles && principal.roles.indexOf('ADMIN') >= 0"
        (click)="goToPlaceTypesPage()">
        {{'sideMenu.leftMenu.managePlaceType' | translate}}
      </button>
      <!--//todo Serj translate-->
      <button
        ion-item
        *ngIf="principal && principal.roles && principal.roles.indexOf('ADMIN') >= 0"
        (click)="goToKitchensPage()">
        Типи кухонь
      </button>
      <!--//todo Serj translate-->
      <button
        ion-item
        *ngIf="principal && principal.roles && principal.roles.indexOf('ADMIN') >= 0"
        (click)="goToCitiesPage()">
        Міста
      </button>
      <!--//todo Serj translate-->
      <button
        ion-item
        *ngIf="principal && principal.roles && principal.roles.indexOf('ADMIN') >= 0"
        (click)="goToTopCategoriesPage()">
        Топ категорї
      </button>
      <button
        ion-item
        *ngIf="principal && principal.roles && principal.roles.indexOf('ADMIN') >= 0"
        (click)="goToTopPlacesManagePage()">
        {{'sideMenu.leftMenu.manageTopPlace' | translate}}
      </button>
      <button
        ion-item
        *ngIf="principal && principal.roles && principal.roles.indexOf('ADMIN') >= 0"
        (click)="goToPlacesStatisticPage()">
        {{'sideMenu.leftMenu.stat' | translate}}
      </button>
      <button ion-item=""
              *ngIf="principal && principal.roles && principal.roles.indexOf('ADMIN') >= 0"
              (click)="goToPlacesPurgatoryPage()">
        {{'sideMenu.leftMenu.purgatory' | translate}}
      </button>
      <button ion-item *ngIf="principal && principal.roles && principal.roles.indexOf('ADMIN') >= 0"
              (click)="goToClientsPage()">
        {{'sideMenu.leftMenu.clients' | translate}}
      </button>
      <button ion-item *ngIf="principal" (click)="goToMyProfilePage()">
        {{'sideMenu.leftMenu.myProfile' | translate}}
      </button>
      <button ion-item *ngIf="principal" (click)="goToMyPlacesPage()">
        {{'sideMenu.leftMenu.myPlaces' | translate}}
      </button>
      <button ion-item *ngIf="principal" (click)="goToMyFavoritePlacesPage()">
        {{'sideMenu.leftMenu.favPlaces' | translate}}
      </button>
      <button ion-item *ngIf="principal" (click)="goToMyRatingsPage()">
        {{'sideMenu.leftMenu.myTestimonials' | translate}}
      </button>
      <button ion-item *ngIf="principal" (click)="goToCreatePlacePage()">
        {{'sideMenu.leftMenu.createPlace' | translate}}
      </button>
      <button ion-item *ngIf="principal" (click)="logout()">
        {{'sideMenu.leftMenu.logout' | translate}}
      </button>
      <button ion-item *ngIf="!principal" (click)="goToLoginRegistration()">
        {{'sideMenu.leftMenu.login' | translate}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #myNav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<ion-menu *ngIf="rightMenu === 'places'" [content]="content" side="right" id="rightSideMenu" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{'sideMenu.titleRight'|translate}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form #filterForm="ngForm"></form>
    <ion-list radio-group [(ngModel)]="searchObject.sort">
      <ion-item>
        <ion-label>{{'sideMenu.filters.noSort' | translate}}</ion-label>
        <ion-radio value=""></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{'sideMenu.filters.rating' | translate}}</ion-label>
        <ion-radio value="rating"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{'sideMenu.filters.avg' | translate}}</ion-label>
        <ion-radio value="averagePrice"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{'sideMenu.filters.abc' | translate}}</ion-label>
        <ion-radio value="name"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>{{'sideMenu.filters.location' | translate}}</ion-label>
        <ion-radio value="location"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label *ngIf="searchObject.direction != true">{{'sideMenu.filters.asc' | translate}}</ion-label>
      <ion-label *ngIf="searchObject.direction != false">{{'sideMenu.filters.desc' | translate}}</ion-label>
      <ion-checkbox color="danger" checked="false" [(ngModel)]="searchObject.direction"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>{{'sideMenu.filters.range' | translate}}</ion-label>
      <ion-range dualKnobs="true" [(ngModel)]="searchObject.range" min="0" max="600" step="1">
        <span range-left>{{searchObject.range.lower}}</span>
        <span range-right>{{searchObject.range.upper}}</span>
      </ion-range>
      <br>
    </ion-item>

    <ion-item>
      <ion-label>{{'sideMenu.filters.type' | translate}}</ion-label>
      <ion-select interface="popover" [(ngModel)]="searchObject.placeType">
        <ion-option value="">
          None
        </ion-option>
        <ion-option value="{{placeTypeM.placeType._id}}" *ngFor="let placeTypeM of placeTypesM">
          {{placeTypeM.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label> {{'sideMenu.filters.city' | translate}}</ion-label>
      <ion-select interface="popover" [(ngModel)]="searchObject.city">
        <ion-option value="">
          None
        </ion-option>
        <ion-option [value]="cityM.city._id" *ngFor="let cityM of citiesM">
          {{cityM.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <!--todo serj translate-->
    <ion-item>
      <ion-label> Кухня</ion-label>
      <ion-select interface="popover" [(ngModel)]="searchObject.kitchen">
        <ion-option value="">
          None
        </ion-option>
        <ion-option [value]="kitchenM.kitchen._id" *ngFor="let kitchenM of kitchensM">
          {{kitchenM.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <!--todo serj translate-->
    <ion-item>
      <ion-label> Топ категорія</ion-label>
      <ion-select interface="popover" [(ngModel)]="searchObject.topCategory">
        <ion-option value="">
          None
        </ion-option>
        <ion-option [value]="topCategoryM.topCategory._id" *ngFor="let topCategoryM of topCategoriesM">
          {{topCategoryM.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label> {{'sideMenu.filters.wifi' | translate}}</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="searchObject.filterFeature['wifi']"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label> {{'sideMenu.filters.karaoke' | translate}}</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="searchObject.filterFeature['karaoke']"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label> {{'sideMenu.filters.parking' | translate}}</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="searchObject.filterFeature['parking']"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label> {{'sideMenu.filters.vipRoom' | translate}}</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="searchObject.filterFeature['vipRoom']"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label> {{'sideMenu.filters.businessLunch' | translate}}</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="searchObject.filterFeature['businessLunch']"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label> {{'sideMenu.filters.dayAndNight' | translate}}</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="searchObject.filterFeature['dayAndNight']"></ion-checkbox>
    </ion-item>
    <ion-buttons>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button class="buttonUpdate" [outline]="true" type="submit" full (click)="show(searchObject)">
              {{'sideMenu.filters.search' | translate}}
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button type="button" class="buttonDelete" [outline]="true" full (click)="reset(filterForm)">
              {{'sideMenu.filters.reset' | translate}}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-content>

</ion-menu>

<ion-menu *ngIf="rightMenu === 'promos'" [content]="content" side="right" id="rightSideMenuPromo" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{'sideMenu.titleRight'|translate}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>
      <!--todo serj translate-->
      <ion-label>Тип новини</ion-label>
      <ion-select interface="popover" [(ngModel)]="searchPromoObject.kind">
        <ion-option value="">
          None
        </ion-option>
        <ion-option value="Bonuse">
          Bonuse
        </ion-option>
        <ion-option value="News">
          News
        </ion-option>
        <ion-option value="Event">
          Event
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label> {{'sideMenu.filters.city' | translate}}</ion-label>
      <ion-select interface="popover" [(ngModel)]="searchPromoObject.city">
        <ion-option value="">
          None
        </ion-option>
        <ion-option [value]="cityM.city._id" *ngFor="let cityM of citiesM">
          {{cityM.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-buttons>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button class="buttonUpdate" [outline]="true" type="submit" full
                    (click)="showPromos(searchPromoObject)">
              {{'sideMenu.filters.search' | translate}}
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button type="button" class="buttonDelete" [outline]="true" full (click)="resetPromos()">
              {{'sideMenu.filters.reset' | translate}}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-content>
</ion-menu>

<ion-menu *ngIf="rightMenu === 'drinkApps'" [content]="content" side="right" id="rightSideMenuDrinkApp" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{'sideMenu.titleRight'|translate}}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!--todo serj translate-->
    <ion-item>
      <ion-label> {{'sideMenu.filters.city' | translate}}</ion-label>
      <ion-select interface="popover" [(ngModel)]="searchDrinkAppObject.city">
        <ion-option value="">
          None
        </ion-option>
        <ion-option [value]="cityM.city._id" *ngFor="let cityM of citiesM">
          {{cityM.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-buttons>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button class="buttonUpdate" [outline]="true" type="submit" full
                    (click)="showDrinkApps(searchDrinkAppObject)">
              {{'sideMenu.filters.search' | translate}}
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button type="button" class="buttonDelete" [outline]="true" full
                    (click)="resetDrinkApps()">
              {{'sideMenu.filters.reset' | translate}}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-content>
</ion-menu>
