<ion-menu [content]="content" side="left" id="leftSideMenu" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Side menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item>
        <span (click)="goToTopPlacesManagePage()"> Top Places manage</span>
      </ion-item>

      <ion-item>
        <span (click)="goToTopPlacesPage()"> Top Places</span>
      </ion-item>

      <ion-item>
        <span (click)="goToPlacesStatisticPage()"> Places statistic</span>
      </ion-item>

      <ion-item>
        <span (click)="goToPlacesPurgatoryPage()"> Purgatory of places</span>
      </ion-item>

      <ion-item>
        <span (click)="goToDrinkApplicationsPage()"> Drink Applications</span>
      </ion-item>

      <ion-item>
        <span (click)="goToNewsPage()"> News</span>
      </ion-item>

      <ion-item>
        <span (click)="goToEventsPage()"> Events</span>
      </ion-item>

      <ion-item>
        <span (click)="goToBonusesPage()"> Bonuses</span>
      </ion-item>

      <ion-item>
        <span (click)="goToClientsPage()"> Clients</span>
      </ion-item>

      <ion-item>
        <span (click)="goToMyProfilePage()"> My Profile</span>
      </ion-item>

      <ion-item>
        <span (click)="goToMyPlacesPage()"> My Places</span>
      </ion-item>

      <ion-item>
        <span (click)="goToMyFavoritePlacesPage()"> Favorite Places</span>
      </ion-item>
      <ion-item>
        <span (click)="goToMyRatingsPage()"> My Estimates</span>
      </ion-item>

      <ion-item>
        <span> Messages</span>
      </ion-item>

      <ion-item (click)="logout()" *ngIf="principal">
        <span>logout</span>
      </ion-item>

      <ion-item *ngIf="!principal">
        <span (click)="goToLoginRegistration()"> login/registration</span>
      </ion-item>

      <ion-item *ngIf="principal">
        <span (click)="goToCreatePlacePage()">Create place</span>

      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #myNav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<ion-menu [content]="content" side="right" id="rightSideMenu" type="overlay">

  <ion-header>
    <ion-toolbar>
      <ion-title>SDR {{searchObject.sort}} {{searchObject.range.lower}}{{searchObject.range.upper}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <!--<form (ngSubmit)="search($event)" [formGroup]="formValuesObject">-->
    <ion-list radio-group [(ngModel)]="searchObject.sort">

      <ion-item>
        <ion-label>Рейтинг</ion-label>
        <ion-radio value="rating"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Середній чек</ion-label>
        <ion-radio value="averagePrice"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Алфавіт</ion-label>
        <ion-radio value="name"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Віддаленість</ion-label>
        <ion-radio value="location"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label *ngIf="searchObject.direction != true">спадання</ion-label>
      <ion-label *ngIf="searchObject.direction != false">зростання</ion-label>
      <ion-checkbox color="danger" checked="false" [(ngModel)]="searchObject.direction"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-range dualKnobs="true" [(ngModel)]="searchObject.range" min="0" max="600" step="1">
        <span range-left>{{searchObject.range.lower}}</span>
        <span range-right>{{searchObject.range.upper}}</span>


      </ion-range>
      <br>
    </ion-item>

    <ion-item>
      <ion-label>Тип закладу</ion-label>
      <ion-select interface="popover" [(ngModel)]="searchObject.placeType">
        <ion-option value="{{placeTypeM.placeType._id}}" *ngFor="let placeTypeM of placeTypesM">{{placeTypeM.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngFor="let feature of ['wifi','karaoke','parking','vipRoom']">
      <ion-label>{{feature}}</ion-label>
      <ion-checkbox color="dark"
                    [(ngModel)]="searchObject.filterFeature[feature]"></ion-checkbox>
    </ion-item>


    <button ion-button type="submit" block (click)="show(searchObject)">Знайти</button>
    <!--</form>-->

  </ion-content>

</ion-menu>


