<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
  <ion-searchbar
    (ionInput)="onSearchDrinkApp($event)"
    (ionCancel)="onSearchDrinkApp($event)"
    placeholder="ID"
  >
  </ion-searchbar>
</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <button
    ion-button
    full
    color="defaultApp"
    (click)="goToSelectPlacePage()"
    *ngIf="principal"
  >
    {{'allDrinkApplications.create' | translate}}
  </button>

  <div *ngIf="drinkApps && drinkApps.length > 0">
    <drink-application
      *ngFor="let drinkApp of drinkApps"
      [drinkApp]="drinkApp"
      [pm]="drinkApp.placeM"
      [showControlButtons]="(principal && (drinkApp.organizer._id === principal._id || principal.roles.indexOf('ADMIN') >= 0))"
      (onOpenDrinkApplication)="openDrinkApplication($event)"
      (onRemoveDrinkApplication)="removeDrinkApp($event)"
      (onUpdateDrinkApplication)="updateDrinkApp($event)"
    ></drink-application>
  </div>
  <div *ngIf="drinkApps && drinkApps.length <= 0">
    <empty>
    </empty>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadNextApplicationsPage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
