<ion-header>

  <ion-navbar>
    <ion-title>all-drink-applications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--<button-->
    <!--ion-button-->
    <!--full-->
    <!--color="defaultApp"-->
    <!--(click)="goToCreateDrinkerApplication()"-->
    <!--*ngIf="principal"-->
  <!--&gt;Create-->
  <!--</button>-->

  <drink-application
    *ngFor="let drinkApp of drinkApps"
    [drinkApp]="drinkApp"
    [pm]="drinkApp.place"
    [showControlButtons]="(principal && (drinkApp.organizer._id === principal._id || principal.roles.indexOf('ADMIN') >= 0))"
    (onOpenDrinkApplication)="openDrinkApplication($event)"
    (onRemoveDrinkApplication)="removeDrinkApp($event)"
    (onUpdateDrinkApplication)="updateDrinkApp($event)"
  ></drink-application>

  <ion-infinite-scroll (ionInfinite)="loadNextApplicationsPage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
