<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>news</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <span *ngFor="let promo of news">
    <ion-card *ngIf="promo.kind=='News'">

    <img src="{{globalHost+promo.image}}"/>
    <ion-card-content>
      <ion-card-title>
        {{promo.multilang[0].header}}
      </ion-card-title>
      <p>
        {{promo.multilang[0].description}}
      </p>
    </ion-card-content>
  </ion-card>
  </span>

</ion-content>
