<ion-header>

  <ion-navbar>
    <ion-title>news</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row margin-top="10px" *ngIf="principal && (departments?.length > 0 || principal?.roles.indexOf('ADMIN') >= 0)">
    <button ion-button full color="defaultApp" (click)="goToCreateNews()">Create News</button>
  </ion-row>

  <news
    *ngFor="let singleNews of news"
    [news]="singleNews"
    [globalHost]="globalHost"
    [showControlButtons]="(principal && singleNews.author === principal?._id || principal?.roles.indexOf('ADMIN') >= 0)"
    (onRemovePromo)="removePromo($event)"
    (onUpdatePromo)="updatePromo($event)"
  ></news>

  <ion-infinite-scroll (ionInfinite)="loadNextNewsPage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
