<ion-header>

  <ion-navbar>
    <ion-title>news</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row margin-top="10px" *ngIf="principal">
    <button ion-button full color="defaultApp" (click)="goToCreateNews()">Create News</button>
  </ion-row>

  <span *ngFor="let promo of news">
    <ion-card *ngIf="promo.kind=='News'">
    <img src="{{globalHost+promo.image}}" alt=""/>
    <ion-card-content>
      <ion-card-title>
        {{promo.multilang[0].header}}
      </ion-card-title>
      <p>
        {{promo.multilang[0].description}}
      </p>
      <p>
        {{promo.startDate | date}}
      </p>
      <p>
        {{promo.endDate | date}}
      </p>
    </ion-card-content>
      <button *ngIf="principal" ion-button round outline color="danger" (click)="removePromo(promo)">Delete</button>
      <button *ngIf="principal" ion-button round outline (click)="updatePromo(promo)">Update</button>
  </ion-card>
  </span>
  <ion-infinite-scroll (ionInfinite)="loadNextNewsPage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
