<ion-header>
  <ion-navbar>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span *ngIf="principal">{{'myPlaces.title' | translate}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item>
    <ion-label>{{'myPlaces.selectLang' | translate}}</ion-label>
    <ion-select [(ngModel)]="selectedLang" (ionChange)="changeLang($event)">
      <ion-option [value]="lang._id" *ngFor="let lang of langs">
        {{lang.name}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <div *ngFor="let place of places">
      <ion-item *ngIf="place.multilang.length > 0" (click)="toDetails(place)">
        <ion-thumbnail item-start>
          <img *ngIf="place.avatar" [src]="globalHost+place?.avatar">
          <img *ngIf="!place.avatar" src="assets/imgs/empty-place.svg">
        </ion-thumbnail>
        <h2>{{place.multilang[0].name}}</h2>
        <span> <ion-icon name="star"></ion-icon> {{place.rating| number:'1.0-2'}} </span>
        <ion-icon item-end name="ios-arrow-dropright" color="defaultApp"></ion-icon>
        <p><span *ngFor="let placeType of place.types">{{placeType.name}} </span></p>
        <p>{{place?.city?.name}} {{place.multilang[0].address.street}}
          {{place.multilang[0].address.number}}</p>
        <p>{{place.distance | number : '3.1-2'}} км</p>
      </ion-item>
    </div>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadNextPlacesPage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>


