<ion-card *ngIf="bonuse.kind=='Bonuse'">

  <img src="{{globalHost+bonuse.image}}" alt=""/>
  <ion-card-content>
    <ion-card-title>
      {{bonuse.multilang.header}}
    </ion-card-title>
    <p>
      {{bonuse.multilang.description}}
    </p>
    <p>
      {{bonuse.multilang.conditions}}
    </p>
    <p>
      {{bonuse.startDate | date: 'dd/MM/yyyy'}}
    </p>
    <p>
      {{bonuse.endDate | date: 'dd/MM/yyyy'}}
    </p>
    <p *ngIf="pm">
      {{pm.name}}
    </p>
  </ion-card-content>
  <ion-buttons *ngIf="showControlButtons">


    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button
            full
            ion-button outline
            class="defaultBackground2"
            (click)="updatePromo(bonuse,$event)">
            Update
          </button>
        </ion-col>
        <ion-col col-6>
          <button
            ion-button  full [outline]="true"
            class="buttonDelete"
            (click)="removePromo(bonuse,$event)">
            Delete
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-buttons>
</ion-card>
