<ion-card *ngIf="bonuse.kind=='Bonuse'">

  <img src="{{globalHost+bonuse.image}}" alt=""/>
  <ion-card-content>
    <ion-card-title>
      {{bonuse.multilang.header}}
    </ion-card-title>
    <p>
      {{bonuse.multilang.description}}
    </p>
    <p>
      {{bonuse.multilang.conditions}}
    </p>
    <p>
      {{bonuse.startDate | date}}
    </p>
    <p>
      {{bonuse.endDate | date}}
    </p>
    <p *ngIf="pm">
      {{pm.name}}
    </p>
  </ion-card-content>
  <ion-buttons *ngIf="showControlButtons">


    <button
      ion-button outline
      class="defaultBackground2"
      (click)="updatePromo(bonuse,$event)">
      Update
    </button>

    <button
      ion-button
      class="buttonDelete"
      (click)="removePromo(bonuse,$event)">
      Delete
    </button>
  </ion-buttons>
</ion-card>
