<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-row>
        <ion-col col-10 >
          {{place?.multilang[0]?.name}}
          <span *ngIf="!place?.allowed">not allowed</span>
        </ion-col>
        <ion-col col-2>
          <span (click)="addToFavorite(place)" *ngIf="principal">
            <ion-icon name="heart-outline" *ngIf="!isFavorite"></ion-icon>
            <ion-icon name="heart" *ngIf="isFavorite"></ion-icon>
          </span>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-tabs class="tabs-basic" tabsPlacement="bottom">
  <ion-tab [root]="placeInfoPage" tabTitle="{{'placeInfo.place' | translate }}" tabIcon="ios-list-outline"
           [rootParams]="place"></ion-tab>

  <ion-tab [root]="eventsPage" tabTitle="{{'placeInfo.events' | translate }}" tabIcon="ios-calendar-outline"
           [rootParams]="place"></ion-tab>
  <ion-tab [root]="bonusesPage" tabTitle="{{'placeInfo.akcii' | translate }}" tabIcon="ios-ribbon-outline"
           [rootParams]="place"></ion-tab>
  <ion-tab [root]="newsPage" tabTitle="{{'placeInfo.news' | translate }}" tabIcon="information"
           [rootParams]="place"></ion-tab>
  <ion-tab [root]="mapPage" tabTitle="{{'placeInfo.map' | translate }}" tabIcon="ios-pin-outline" [rootParams]="place"></ion-tab>

  <ion-tab [root]="testimonialsPage" tabTitle="{{'placeInfo.testimonials' | translate }}" tabIcon="ios-star-half-outline"
           [rootParams]="place"></ion-tab>
  <!--<ion-tab [root]="drinkerPage" tabTitle="drinker" tabIcon="beer" [rootParams]="place"></ion-tab>-->
  <ion-tab [root]="placeStatisticPage"
           *ngIf="principal && (departments?.length > 0 || principal.roles.indexOf('ADMIN') >= 0)"
           tabTitle="{{'placeInfo.stat' | translate }}"
           tabIcon="md-analytics" [rootParams]="place"></ion-tab>
</ion-tabs>
