<ion-header>

  <ion-navbar>
    <ion-title>bonuse</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-row margin-top="10px" *ngIf="principal && (departments?.length > 0 || principal?.roles.indexOf('ADMIN') >= 0)">
    <button ion-button full color="defaultApp" (click)="goToCreateBonuse()">Create Bonuse</button>
  </ion-row>

  <bonuse
    *ngFor="let bonuse of bonuses"
    [bonuse]="bonuse"
    [globalHost]="globalHost"
    [showControlButtons]="(principal && principal?._id === bonuse.author) || (principal && principal.roles.indexOf('ADMIN') >= 0)"
    (onRemovePromo)="removePromo($event)"
    (onUpdatePromo)="updatePromo($event)"
    (click)="goToSingleBonuse(bonuse)"
  ></bonuse>

  <ion-infinite-scroll (ionInfinite)="loadNextBonusesPage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
