<ion-header>

  <ion-navbar>
    <ion-title>{{'createPlace.title'|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #form="ngForm" (ngSubmit)="createPlace(form)">
    <ion-list>
      <ion-item>
        <ion-label [ngStyle]="{'color': (name.invalid && name.touched) ? 'red' : ''}">
          {{'createPlace.placeName' | translate}} *
        </ion-label>
        <ion-input
          name="name"
          [(ngModel)]="nameInput"
          #name="ngModel"
          (input)="validateName(name)"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label [ngStyle]="{'color': (description.invalid && description.touched) ? 'red' : ''}">
          {{'createPlace.description' | translate}}*
        </ion-label>
        <ion-input
          name="description"
          ngModel
          #description="ngModel"
          required
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-list ngModelGroup="address">

      <ion-item>
        <ion-label [ngStyle]="{'color': (street.invalid && street.touched) ? 'red' : ''}">
          {{'createPlace.street' | translate}} *
        </ion-label>
        <ion-input
          name="street"
          ngModel
          #street="ngModel"
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <!--<ion-label [ngStyle]="{'color': (number.invalid && number.touched) ? 'red' : ''}">-->
        <ion-label>
          {{'createPlace.number' | translate}}
        </ion-label>
        <ion-input
          type="text"
          name="number"
          ngModel
          #number="ngModel"

        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label [ngStyle]="{'color': (phone.invalid && phone.touched) ? 'red' : ''}">
        {{'createPlace.phone' | translate}}*
      </ion-label>
      <ion-input
        type="tel"
        name="phone"
        ngModel
        #phone="ngModel"
        type="number"
        minlength="6"
        maxlength="15"
        placeholder="0671234567"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <!--<ion-label [ngStyle]="{'color': (email.invalid && email.touched) ? 'red' : ''}">-->
      <ion-label>
        {{'createPlace.email' | translate}}
      </ion-label>
      <ion-input
        name="email"
        ngModel
        #email="ngModel"

      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        {{'createPlace.tags' | translate}}
      </ion-label>
      <ion-input name="hashTags" ngModel></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        {{'createPlace.site' | translate}}
      </ion-label>
      <ion-input type="url" name="site" ngModel></ion-input>
    </ion-item>

    <div *ngIf="isAdmin">
      <ion-item>
        <ion-label [ngStyle]="{'color': (allowed.invalid && allowed.touched) ? 'red' : ''}">
          {{'createPlace.allowed' | translate}}
        </ion-label>
        <ion-select
          name="allowed"
          ngModel
          okText="{{'placeInfo.confirm' | translate}}"
          cancelText="{{'placeInfo.cancel' | translate}}"
          #allowed="ngModel"
          required
        >
          <ion-option value="true">{{'createPlace.yes' | translate}}</ion-option>
          <ion-option value="false">{{'createPlace.no' | translate}}</ion-option>
        </ion-select>
      </ion-item>
    </div>


    <ion-grid>
      <ion-row>
        <ion-col col-8 offset-2>
          <button margin-top="25px" margin-bottom="20px" ion-button full outline class="buttonUpdate" type="button"
                  (click)="goToChooseLocation()">

            {{'createPlace.chooseLocation' | translate}}
          </button>

        </ion-col>
      </ion-row>
    </ion-grid>

    <!--<ion-list ngModelGroup="features">-->
      <!--<ion-list-header>{{'createPlace.features' | translate}}</ion-list-header>-->
      <!--<ion-item>-->
        <!--<ion-label>-->
          <!--{{'createPlace.wifi' | translate}}-->
        <!--</ion-label>-->
        <!--<ion-checkbox name="wifi" ngModel></ion-checkbox>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-label>-->
          <!--{{'createPlace.karaoke' | translate}}-->
        <!--</ion-label>-->
        <!--<ion-checkbox name="karaoke" ngModel></ion-checkbox>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-label>-->
          <!--{{'createPlace.parking' | translate}}-->
        <!--</ion-label>-->
        <!--<ion-checkbox name="parking" ngModel></ion-checkbox>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-label>-->
          <!--{{'createPlace.vipRoom' | translate}}-->
        <!--</ion-label>-->
        <!--<ion-checkbox name="vipRoom" ngModel></ion-checkbox>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-label>-->
          <!--{{'createPlace.businessLunch' | translate}}-->
        <!--</ion-label>-->
        <!--<ion-checkbox name="businessLunch" ngModel></ion-checkbox>-->
      <!--</ion-item>-->
      <!--<ion-item>-->
        <!--<ion-label>-->
          <!--{{'createPlace.dayAndNight' | translate}}-->
        <!--</ion-label>-->
        <!--<ion-checkbox name="dayAndNight" ngModel></ion-checkbox>-->
      <!--</ion-item>-->
    <!--</ion-list>-->

    <ion-item>
      <ion-label [ngStyle]="{'color': (types.invalid && types.touched) ? 'red' : ''}">
        {{'createPlace.placeType' | translate}} *
      </ion-label>
      <ion-select
        name="types"
        ngModel
        okText="{{'placeInfo.confirm' | translate}}"
        cancelText="{{'placeInfo.cancel' | translate}}"
        multiple="true"
        #types="ngModel"
        required
      >
        <ion-option *ngFor="let placeTypeM of placeTypesM" [value]="placeTypeM.placeType">
          {{placeTypeM.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label [ngStyle]="{'color': (kithcens.invalid && kithcens.touched) ? 'red' : ''}">
        {{'createPlace.kitchens' | translate}}
      </ion-label>
      <ion-select
        name="kitchens"
        ngModel
        okText="{{'placeInfo.confirm' | translate}}"
        cancelText="{{'placeInfo.cancel' | translate}}"
        #kithcens="ngModel"
        multiple="true"
      >
        <ion-option *ngFor="let kitchenM of kitchensM" [value]="kitchenM.kitchen">
          {{kitchenM.name}}
        </ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label [ngStyle]="{'color': (city.invalid && city.touched) ? 'red' : ''}">
        {{'createPlace.city' | translate}}*
      </ion-label>
      <ion-select
        name="city"
        ngModel
        okText="{{'placeInfo.confirm' | translate}}"
        cancelText="{{'placeInfo.cancel' | translate}}"
        #city="ngModel"
        required
      >
        <ion-option *ngFor="let cityM of citiesM" [value]="cityM.city">
          {{cityM.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="isAdmin">
      <ion-label [ngStyle]="{'color': (topCategories.invalid && topCategories.touched) ? 'red' : ''}">
        {{'createPlace.topCategories' | translate}}
      </ion-label>
      <ion-select
        name="topCategories"
        ngModel
        okText="{{'placeInfo.confirm' | translate}}"
        cancelText="{{'placeInfo.cancel' | translate}}"
        multiple="true"
        #topCategories="ngModel"
      >
        <ion-option *ngFor="let topCategoryM of topCategoriesM" [value]="topCategoryM.topCategory">
          {{topCategoryM.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item-group ngModelGroup="days">
      <ion-item-group ngModelGroup="1">
        <ion-item>{{'updatePlace.workTime' | translate}}</ion-item>
        <ion-item>
          <ion-label [ngStyle]="{'color': (start.invalid && start.touched) ? 'red' : ''}">
            {{'createPlace.from' | translate}} *
          </ion-label>
          <ion-datetime
            displayFormat="HH"
            name="start"
            ngModel
            #start="ngModel"
            required
          ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label [ngStyle]="{'color': (end.invalid && end.touched) ? 'red' : ''}">
            {{'createPlace.to' | translate}} *
          </ion-label>
          <ion-datetime
            displayFormat="HH"
            name="end"
            ngModel
            #end="ngModel"
            required
          ></ion-datetime>
        </ion-item>
      </ion-item-group>
    </ion-item-group>
    <button
      type="submit"
      ion-button
      full
      [outline]="true"
      class="buttonUpdate"
      margin-top="25px"
      [disabled]="!form.valid"
    >{{'createPlace.save' | translate}}
    </button>
  </form>


</ion-content>
