<ion-card *ngIf="news.kind=='News'">
  <img src="{{globalHost+news.image}}" alt=""/>
  <ion-card-content>
    <ion-card-title>
      {{news.multilang.header}}
    </ion-card-title>
    <p>
      <span class="fontBold">{{'news.desc' | translate}}</span> : {{news.multilang.description}}
    </p>
    <p>
      <span class="fontBold">{{'news.startDate' | translate}}</span> : {{news.startDate | date : 'dd/MM/yyyy'}}
    </p>
    <p>
      <span class="fontBold">{{'news.endDate' | translate}}</span> : {{news.endDate | date: 'dd/MM/yyyy'}}
    </p>
    <p *ngIf="pm">
      <span class="fontBold">{{'news.place' | translate}}</span> : {{pm.name}}
    </p>
  </ion-card-content>
  <ion-buttons *ngIf="showControlButtons">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button
            [full]="true"
            ion-button outline
            class="defaultBackground2"
            (click)="updatePromo(news,$event)">
            {{'news.save' | translate}}
          </button>
        </ion-col>
        <ion-col col-6>
          <button
            [full]="true"
            ion-button outline
            class="buttonDelete"
            (click)="removePromo(news,$event)">
            {{'news.remove' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-buttons>

</ion-card>
