<ion-card *ngIf="news.kind=='News'">
  <img src="{{globalHost+news.image}}" alt=""/>
  <ion-card-content>
    <ion-card-title>
      {{news.place.multilang[0].name}}<br>
      {{news.multilang[0].header}}
    </ion-card-title>
    <p>
      {{news.multilang[0].description}}
    </p>
    <p>
      {{news.startDate | date}}
    </p>
    <p>
      {{news.endDate | date}}
    </p>
  </ion-card-content>
  <ion-buttons
    *ngIf="showControlButtons">



    <button
      ion-button
      class="defaultBackground2"
      (click)="updatePromo(news,$event)">
      Update
    </button>

    <button
      ion-button
      class="buttonDelete"
      (click)="removePromo(news,$event)">
      Delete
    </button>
  </ion-buttons>



</ion-card>
