<ion-card *ngIf="news.kind=='News'">
  <img src="{{globalHost+news.image}}" alt=""/>
  <ion-card-content>
    <ion-card-title>
      {{news.multilang.header}}
    </ion-card-title>
    <p>
      {{news.multilang.description}}
    </p>
    <p>
      {{news.startDate | date}}
    </p>
    <p>
      {{news.endDate | date}}
    </p>
    <p *ngIf="pm">
      {{pm.name}}
    </p>
  </ion-card-content>
  <ion-buttons
    *ngIf="showControlButtons">
    <button
      ion-button outline
      class="defaultBackground2"
      (click)="updatePromo(news,$event)">
      Update
    </button>

    <button
      ion-button outline
      class="buttonDelete"
      (click)="removePromo(news,$event)">
      Delete
    </button>
  </ion-buttons>

</ion-card>
