<ion-header>

  <ion-navbar hideBackButton>
    <ion-title></ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="onSearchPlaces($event)">
  </ion-searchbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="places && places.length > 0">
    <ion-list>
      <ion-item *ngFor="let place of places" (click)="toDetails(place._id)">
        <ion-thumbnail item-start>
          <img [src]="globalHost+place?.avatar">
        </ion-thumbnail>
        <h2 class="fontBold">{{place?.multilang[0]?.name}}</h2>
        <span> <ion-icon name="star"></ion-icon> {{place?.rating| number:'1.0-2'}} </span>
        <ion-icon item-end name="ios-arrow-dropright"></ion-icon>

        <p><span *ngFor="let placeType of place?.types">{{placeType?.name}} </span></p>
        <p>{{place.city.name}}</p>
        <p> {{place?.multilang[0]?.address.street}}
          {{place?.multilang[0]?.address.number}}</p>
        <p>{{place?.distance | number : '0.0-2'}} км</p>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="places && places.length <= 0">
    <empty>
    </empty>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadNextPlacesPage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
