<ion-header>

  <ion-navbar>

    <ion-title (click)="pop()">
      <ion-icon name="arrow-round-back"></ion-icon>
      modal-choose-lang
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col class="fontBold" text-center>{{'modalChooseLang.message' | translate}}</ion-col>
  </ion-row>

  <!--<ion-select [(ngModel)]="lang">-->
  <!--<ion-option *ngFor="let singleLang of langs" [value]="singleLang._id">{{singleLang.name}}</ion-option>-->
  <!--</ion-select>-->

  <div *ngFor="let singleLang of langs">
    <button ion-button full class="defaultBackground2" (click)="goToUpdate(singleLang)">{{singleLang.name}}</button>
  </div>

  <!--<button ion-button class="buttonUpdate" (click)="goToUpdate()">-->
  <!--update-->
  <!--</button>-->


</ion-content>
