page-create-event {
  ion-item.item-input-has-focus .item-inner{
    border-bottom-color: map_get($colors,defaultApp) !important;
    -webkit-box-shadow: inset 0 -1px 0 0 map_get($colors,defaultApp)!important;
    box-shadow: inset 0 -1px 0 0 map_get($colors,defaultApp)!important;
  }
  ion-item:not(.item-input-has-focus) .item-inner{
    border-bottom-color: map_get($colors,defaultApp2) !important;
    -webkit-box-shadow: inset 0 -1px 0 0 map_get($colors,defaultApp2)!important;
    box-shadow: inset 0 -1px 0 0 map_get($colors,defaultApp2)!important;
  }

}
